# Global options: https://caddyserver.com/docs/caddyfile/options
{
    # General Options: https://caddyserver.com/docs/caddyfile/options#general-options
    # debug
    http_port   80
    https_port  443
    default_bind    {$SITE_ADDRESS}
    storage file_system {$DATA_DIR}
    storage_clean_interval  24h
    renew_interval  10m

    # TLS Options: https://caddyserver.com/docs/caddyfile/options#tls-options
    email   {$EMAIL}
    acme_ca {$ACME_CA}

}

tls {
  dns googleclouddns {
    gcp_project {$GCP_PROJECT}
    gcp_application_default {$GOOGLE_APPLICATION_CREDENTIALS}
  }
}

localhost {
    encode zstd gzip
    templates
    file_server browse
}